<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/ridwan.jpg" alt="ridwan" srcset="" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Ridwan Setio Budi</h1>
            <p class="lead">Mahasiswa | Designer</p>
        </div>
    </div>
</div>